* {
    padding: 0;
    margin: 0;
}
:root {
    --clr-neutral-100: hsl(201, 11%, 66%);
    --clr-neutral-200: hsl(210, 10%, 33%);

    --clr-priamry-100: hsl(171, 66%, 44%);
    --clr-priamry-200: hsl(233, 100%, 69%);
    --clr-footer: hsla(201, 11%, 66%, 0.1);

    --fs-reg: 18px;

    --ff-primary: 'Bai Jamjuree', sans-serif;

    --fw-reg: 400;
    --fw-semibold: 600;
    --padding-text-block: 0.5rem;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
  margin-inline: auto;
}
 ul li{
   
}
body {
font-size: var(--fs-reg);
font-family: var(--ff-primary);
}
section:nth-child(1) {
    background-image: url(/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    --max-width: 1110px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
   
    
}


@media only screen and (min-width: 0px) and (max-width: 800px) { 
    section:nth-child(1) {
        background-image: url(/images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
}
